.featured__link{margin:64px}.featured__link h2{font-size:30px}.story_link{font-size:24px}.about_contact__btn_cnt{width:calc(100% - 290px)}.news_stories_date{display:inline-block;position:absolute;bottom:0;left:0;padding-left:1rem;font-size:1rem;color:#96969b}.heading_title{font-size:4.5rem}.heading_title:after{width:100px}.single_post_page{padding-left:400px}.single_post_page_slider{padding:0}.heading_info_md{padding-right:70px}
