.index_top_slider--clients .owl-carousel__item{padding-left:241px;margin-bottom:268px}.index_top_slider--clients .slider__header h1{font-family:'Poppins';font-weight:normal;font-size:100px}.news{margin-bottom:142px}.about_contact{-ms-flex-negative:0;flex-shrink:0}.single_post_page{padding-left:640px}.single_post_page_slider{margin-bottom:142px}
