@import "functions";
@import "variables";
@mixin trans{
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.home_bg{
	background-size: auto;
}
.top_menu_links{
	padding-left: 40px;
}
/* clients page start*/
.page-template-page-all-clients{
 	.slider{
 		&__header{
 			background-color: white;
 			-webkit-box-flex: 0;
 			-ms-flex: 0 1 350px;
 			flex: 0 1 350px;
 			.btn{
 				display: inline-block;
 			}
			}
 	}
}
.index_top_slider--clients{
	.slide_description_block{
		position: absolute;
		z-index: 10;
		right: 0;
		left: auto;
		bottom: 0;
		height: 200px;
		-webkit-transform: translate(0%, 100%);
		-ms-transform: translate(0%, 100%);
		transform: translate(0%, 100%);
		&__description{
			-webkit-box-flex: 1;
			-ms-flex: 1 1 530px;
			flex: 1 1 530px;
			h2{
				font-family: 'Poppins';
	    		font-weight: 500;
	    		font-size: 26px;
			}
			h5{
				font-family: 'Poppins';
	    		font-weight: 500;
	    		font-size: 12px;
			}
		}
		&__owl_nav_cnt{
			height: 200px;
			button{
				.iconslider{
					font-size: 2rem;
				}
			}
		}
	}
}
/* clients page end*/

/* news_stories start*/
.pagination_cnt{
	&__inner{
	padding-top: 30px;
	a{
		@include trans;
		font-size: 14px;
		color: $cus_gray;
		font-weight: 900;
		letter-spacing: 3px;
		text-transform: uppercase;
		}
	}
}
.featured{
	-webkit-box-flex: 0;
	-ms-flex: 0 1 420px;
	-webkit-box-flex: 0;
	flex: 0 1 420px;
}
.featured_thumb{
	-webkit-box-flex: 2;
	-ms-flex: 2 1 683px;
	flex: 2 1 683px;
}
/* news_stories end*/
/* singele post page start*/
.post_main_client_img_outer{
	margin-right: 5rem;
	margin-bottom: 4rem;
}
/* singele post page end*/
/* search/cat page start*/
.serch_cat_exc{
	line-height: 1.5;
	word-break: break-word;
}
/* search/cat page end*/