@import "functions";
@import "variables";
@import "../bootstrap-4/scss/bootstrap";
@mixin trans{
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
body{
	font-family: 'helvetica';
	font-weight: normal;
	font-size: 18px;
	overflow-x: hidden;
	max-width: 1925px;
	margin: 0 auto;
	position: relative;
	color: $cus_black;
	.slider .slider__item_link .slider_header{
		font-family: 'helvetica';
	}
}
html.fonts-loaded{
	body{
		font-family: 'Nunito';
		.slider .slider__item_link .slider_header{
			font-family: 'Poppins';
		}
	}
}
a{
	@include trans;
	text-decoration: none;
	color: $pale_green;
	&:hover{
		color: $cus_black;
	}
}
ul{
	list-style: none;
}
p{
	color: $cus_gray;
}
/* fonts start*/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Black.woff2') format('woff2'),
  url('../fonts/Nunito-Black.woff') format('woff'),
  url('../fonts/Nunito-Black.ttf') format('truetype'),
  url('../fonts/Nunito-Black.svg#Nunito-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
  url('../fonts/Nunito-SemiBold.woff') format('woff'),
  url('../fonts/Nunito-SemiBold.ttf') format('truetype'),
  url('../fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
  url('../fonts/Nunito-Regular.woff') format('woff'),
  url('../fonts/Nunito-Regular.ttf') format('truetype'),
  url('../fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
  url('../fonts/Nunito-Bold.woff') format('woff'),
  url('../fonts/Nunito-Bold.ttf') format('truetype'),
  url('../fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
  url('../fonts/Poppins-Medium.woff') format('woff'),
  url('../fonts/Poppins-Medium.ttf') format('truetype'),
  url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype'),
  url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'slider_buttons';
  src:
    url('../fonts/slider_buttons.ttf?r2ntjk') format('truetype'),
    url('../fonts/slider_buttons.woff?r2ntjk') format('woff'),
    url('../fonts/slider_buttons.svg?r2ntjk#slider_buttons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* fonts end*/

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.iconslider {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'slider_buttons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:after {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	touch-action: manipulation;
	-moz-backface-visibility: hidden;
	/* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0; }
  .owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
	display: block;
	width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
	display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
	background: none;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit; }
  .owl-carousel.owl-loaded {
	display: block; }
  .owl-carousel.owl-loading {
	opacity: 0;
	display: block; }
  .owl-carousel.owl-hidden {
	opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
	visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
  touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
  .owl-carousel.owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab; }
  .owl-carousel.owl-rtl {
	direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
	float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
	opacity: 1; }
  100% {
	opacity: 0; } }

@keyframes fadeOut {
  0% {
	opacity: 1; }
  100% {
	opacity: 0; } }

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
	  This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
	  calculation of the height of the owl-item that breaks page layouts
	 */ }
  .owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	-webkit-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
	max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; }

/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
	  -webkit-transform: scale(1.3, 1.3);
	  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease; 
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%; 
}
/* Owl end*/
*::-moz-selection{
	background-color: lighten($pale_green, 15);
} 
*::selection{
	background-color: lighten($pale_green, 15);
}
img{
    display: block;
	width: 100%;
	height: auto;
}
.site_wrap{
	position: relative;
	min-height: 100vh;
	padding-bottom: 230px;
}
.home_bg{
	background: url('../images/home_bg.png') right top no-repeat;
	background-size: cover;
}
.clients_bg{
	background: url('../images/clients_bg.png') left top no-repeat;
}

/*main_navigation start*/

.main_navigation_cnt{
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 99;
}
.main_navigation{
	z-index: 100;
	width: 100%;
	max-width: 1925px;
	margin-top: 44px;
	padding: 0 15px;
}
.top_menu_links{
	padding-left: 10px;
	>a{
		@include trans;
		color: $cus_black;
		font-size: 14px;
		font-weight: 900;
		letter-spacing: 3px; 
		&:hover{
			color: $dark_pale_green;
		}
	}
}
#menu_button{
	background-color: transparent;
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
	@include trans;
	width: 35px;
	height: 35px;
	padding: 0;
	z-index: 1000;
	&:hover{
		color: $dark_pale_green;
	}
	.th-menu-outline{
		width: inherit;
		height: inherit;
		pointer-events: none;
	}
}
.search_cnt{
	min-width: 35px;
	height: 35px;
	.search_top{
		position: absolute;
		right: 0;
		background-color: $pale_green;
		border-radius: 20px;
		width: inherit;
		height: inherit;
		overflow: hidden;
	}
	.search_form{
		height: 35px;
		min-width: 35px;
	}
	.search_field{
		position: relative;
		top: 0;
		right: 0;
		z-index: 200;
		border: none;
		outline: none;
		font-family: 'Nunito';
		font-weight: 600;
		color: $cus_gray;
		background-color: transparent;
		height: 35px;
		border-bottom: 2px solid transparent;
		padding-right: 35px;
		width: 0;
		vertical-align: middle;
		@include trans;
		cursor: pointer;
		&:focus{
			margin-left: 50px;
			right: 35px;
			width: 222px;
			cursor: auto;
			z-index: 1;
			border-color: $cus_black;
			padding-right: 10px;
			~.search_btn{
				pointer-events: auto;
				z-index: 422;
			}
		}
		&:hover ~.search_btn{
			color: $dark_pale_green;

		}
	} 
	.search_btn{
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		@include trans;
		width: 35px;
		height: 35px;
		padding: 0;
		z-index: 100;
		color: $cus_black;
		position: absolute;
		right: 0;
		top: 0;
		&:hover{
			color: $dark_pale_green;
		}
		>.search{
			position: relative;
			width: inherit;
			margin: 4px 0;
			height: 27px;
			z-index: -22;
			pointer-events: none;
		}
	}
}
.main_menu{
	z-index: 500;
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#528c8c+0,528c8c+69,b6d4d4+100 */
	background: #528c8c; /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #528c8c 0%,#528c8c 69%,#b6d4d4 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(#528c8c),color-stop(69%, #528c8c),to(#b6d4d4));
	background: -o-linear-gradient(top, #528c8c 0%,#528c8c 69%,#b6d4d4 100%);
	background: linear-gradient(to bottom, #528c8c 0%,#528c8c 69%,#b6d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#528c8c', endColorstr='#b6d4d4',GradientType=0 ); /* IE6-9 */
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	&__inner{
		height: 100%;
		overflow-y: auto;
		>div{
			min-height: 500px;
			height: 100%;
		}
	}
}
#close_menu{
	display: block;
	background-color: transparent;
	position: absolute;
	right: 20px;
	top: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	@include trans;
	width: 35px;
	height: 35px;
	padding: 0;
	z-index: 1000;
	color: $cus_black;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	&:hover{
		color: $pale_green;
	}
	>.close-cross{
		width: inherit;
		height: inherit;
		pointer-events: none;
	}
}
.main_menu_list_cnt{
	&__list{
		padding: 0;
		font-weight: 600;
		>li>a{
			padding: 0.5rem;
			display: block;
		}
	}
}
@-webkit-keyframes fadeOutLeft {
	from {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-120%, 0, 0);
		transform: translate3d(-120%, 0, 0);
	}
}
@keyframes fadeOutLeft {
	from {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-120%, 0, 0);
		transform: translate3d(-120%, 0, 0);
	}
}
.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: translate3d(-120%, 0, 0);
	transform: translate3d(-120%, 0, 0);
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-120%, 0, 0);
		transform: translate3d(-120%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-120%, 0, 0);
		transform: translate3d(-120%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
/*main_navigation end*/
.block{
	&--tabs_cnt{
		padding-top: 113px;
	}
}
.index_top_slider{
	 margin-top: 117px;
	.owl-carousel{
		&__item{
			max-width: 1122px + 322px;
			height: 100%;
			padding-left: 60px;
		}
  }
  .owl-dots{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 175px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		.owl-dot{
			width: 22px;
			height: 22px;
			position: relative;
			outline: none;
			background-color: transparent;
			font-weight: 900;
			font-size: 12px;
			color: $cus_gray;
			@include trans;
		}
		.owl-dot.active{
			color: $cus_black;
			&:after{
				content:"";
				display: block;
				position: absolute;
				left: calc(99px + 100%);
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				width: 55px;
				height: 2px;
				background: black;
			  }
		}
    }
}
/* slider item start*/
.slider{
	.slider__item_link{
		height: 0;
		padding-bottom: 72.19251336898396%;
		display: block;
		background-color: $pale_green;
		img{
			position: absolute;
			top: 0;
			left: 0;
		}
		.slider_header{
			z-index: 10;
			padding-top: 1rem;
			padding-left: 1rem;
			padding-right: 66px;
			font-family: 'Poppins';
			font-weight: 500;
			color: $cus_black;
			-webkit-transition: color 0.3s ease 0s;
			-o-transition: color 0.3s ease 0s;
			transition: color 0.3s ease 0s;
			h5{
				font-family: "Nunito";
			}
			&:after{
				content:"";
				position: absolute;
				right: 0;
				top: 2rem;
				width: 56px;
				height: 7px;
				background-color: white;
			}
			&:hover {
				color: $dark_pale_green;
			}
		}
	}
}
.view_profile_btn{
	display: none;
}
/* slider item end*/

/* social vertical start*/
.vertical_social{
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  width: 40px;
  padding: 0;
  &__list{
	list-style: none;
	width: 40px;
	padding: 0;
	a{
	  height: 40px;
	  width: 40px;
	  display: block;
	  color: black;
	  @include trans;
	  &:hover{
		color: $dark_pale_green;
	  }
	 .icon{
		padding: 11px;
		height: 40px;
		width: 40px;
	  }
	}
	&--bottom{
		width: auto;
		a{
			margin-bottom: 0;
		}
	}
  }
}
.slider_number{
	display: block;
	position: absolute;
	font-size: 18px;
	color: $cus_black;
	font-family: 'Poppins';
	font-weight: bold;
	bottom: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	-webkit-transform: rotate(-90deg) translateX(-10%);
	-ms-transform: rotate(-90deg) translateX(-10%);
	transform: rotate(-90deg) translateX(-10%);
	padding: 8px 0;
	&:after{
		display: none;
    }
}
/* social vertical end*/

/* slider animation start*/
@-webkit-keyframes fadeInUp {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}


@-webkit-keyframes fadeOutDown {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
/* slider animation end*/

/* tabs section start*/
.nav-link{
	@include trans;
	padding: .5rem 34px;
	border-bottom: 2px solid transparent;
	letter-spacing: 2px;
	&:hover{
		color: $pale_green !important;
	}
}
.nav .nav-link.active{
	border-bottom: 2px solid $cus_black;
	&:hover{
		color: $cus_black !important;;
	}
}
.tabs_inner{
	margin: 0;
	padding-bottom: 99px;
	margin-bottom: 115px;
	&__explore_more{
		margin-top: -153px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		background-color: $pale_green;
		color: white;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		border-radius: 30px;
		&:focus{
			-webkit-box-shadow: 0 0 0 0.2rem rgba($pale_green, 0.25);
			box-shadow: 0 0 0 0.2rem rgba($pale_green, 0.25);
			color: $cus_black;
		}
		&:hover{
			color: $cus_black;
		}
	}
	.tab-content{
		min-height: 275px;
	}
}
.tabs_controlls{
	margin-bottom: 82px;
	.nav-link{
		font-size: 12px;
		font-weight: 900;
		color: $cus_black;
	}
}
.client_tab_prev{
	height: 100%;
	max-width: 420px;
	margin:0;
	&__go_to_client{
		top: 20px;
		right: 20px;
		border-radius: 50%;
		background-color: rgba($pale_green, 0.7);
		height: 56px;
		width: 56px;
		z-index: 10;

		&:hover .icon{
			color: white;
		}
		.icon{
			margin: 13px;
			height: 30px;
			width: 30px;
			color: $cus_black;
			@include trans;
		}
	}
	&__image{
		position: relative;
		height: 0;
		padding-bottom: 116.6666666666667%;
		background-color: rgba($pale_green, 0.7);
		>img{
			position: absolute;
		}
	}
	&__heading{
		margin: 0;
		width: 100%;
		bottom: 62px;
		left: 0;
		text-align: center;
		a{
			@include trans; 
			color: white;
			&:hover{
				color: $cus_black;
			}
		}
	}
	&__description{
		bottom: 48px;
		font-size: 12px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0;
		width: 100%;
		text-align: center;
		color: white;
	}
}
/* tabs section end*/

/* stories start*/
.stories{
	&__header{
		height: 94px;
		margin-bottom: 69px;
		&:after{
			content: "";
			display: block;
			width: 150px;
			height: 0;
			border-bottom: 2px solid $cus_black;
			position: absolute;
			left: 50%;
			bottom: 0;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}
	.row{
		margin-bottom: 30px;
	}

}
.stories_block{
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	overflow: hidden;
}
.story_thumb_cnt{
    background-color: #e2e8e8;
	display: block;
	margin-bottom: 0;
	>a:hover .overlay{
		opacity: 1;
	}
}
.overlay{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($pale_green, 0.8);
	opacity: 0;
	@include trans;
	>.play{
		height: 35px;
		width: 30px;
		color: white;
	}
}
.story_link{
	color: $cus_black;
	font-size: 1rem;
	&:hover{
		color: $pale_green;
	}

}
.story_date{
	display: none;
}
.video_slider{
	.owl-dots{
		position: absolute;
		bottom: 50%;
		right: 0;
		text-align: center;
		-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
		transform: translateY(50%);
		.owl-dot{
			outline: none;
			display: block;
			width: 26px;
			height: 26px;
			span{
				width: 6px;
			    height: 6px;
			    margin: 10px;
			    background-color: $cus_white;
			    display: block;
			    -webkit-backface-visibility: visible;
			    -webkit-transition: opacity .3s ease;
			    -o-transition: opacity .3s ease;
			    transition: opacity .3s ease;
			    border-radius: 30px;
			}
		}
		.owl-dot.active{
			span{
				background-color: white;
				width: 12px;
			    height: 12px;
			    margin: 7px;
			}

		}
	}
	.item-video{
		height: 400px;
	}
}
.portrait_slider_cnt{
	&__inner{
		.owl-dots{
			position: absolute;
			top: 14px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			width: 100%;
			text-align: center;
			.owl-dot{
				outline: none;
				vertical-align: middle;
				span{
					width: 6px;
				    height: 6px;
				    margin: 5px 7px;
				    background-color: $cus_white;
				    display: block;
				    -webkit-backface-visibility: visible;
				    -webkit-transition: opacity .3s ease;
				    -o-transition: opacity .3s ease;
				    transition: opacity .3s ease;
				    border-radius: 30px;
				}
			}
			.owl-dot.active{
				span{
					background-color: white;
					width: 12px;
				    height: 12px;
				}
			}
		}
	}
}
.portrait_image_cnt{
	background-color: $pale_green;
}
.featured{
	background: url(../images/featured.png);
	background-size: cover;
	&__link{
		color: white;
		margin: 10px;
		font-family: 'Poppins';
		font-weight: 500;
		h2{
			font-size: 18px;
		}
		.icon{
			width: 42px;
			height: 42px;
			margin-left: -5px;
		}
		&:hover{
			color: $cus_black;
		}
	}
	.featured_date{
		font-family:'Nunito';
		font-weight: normal;
		font-size: 16px;
	}
}
.featured_thumb{
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	&--index{
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	&__lable{
		background-color: white;
		color: $cus_black;
		text-transform: uppercase;
		letter-spacing: 2px;
		top: 10px;
		right: 10px;
		font-family: 'Nunito';
		font-size: 14px;
		font-weight: 900;
		padding: 22px 56px;
	}
}
.portrait_slider_header{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 24px;
	padding: 35px 0;
}

/* stories end*/

/* all clients start*/
.page-template-page-all-clients{
	.block--tabs_cliets_cnt{
		padding-top: 85px;
	}
	.tabs_inner{
		padding-bottom: 119px;
		margin-bottom: 0;
	}
}
.index_top_slider--clients{
	.owl-carousel__item{
		margin-bottom: 200px;
		.slider__item_link_clients{
			img{
				max-width: 650px;
			}

		}
	}
	.slider{
		&__header{
			.leading{
				font-weight: 600;
				font-size: 14px;
			}
			h1{
				word-break: break-all;
			}
			.btn{
				color: white;
				font-size: 14px;
				padding: 16px 80px;
				display: none;
			}
		}
	}
	.slider_number{
		top: auto;
		bottom: 10px;
	}
	.slide_description_block{
		position: absolute;
		bottom: 0;
		left: 0;
		-webkit-transform: translateY(110%);
		-ms-transform: translateY(110%);
		transform: translateY(110%);
		z-index: 10;
		background-color: $gray-200;
		width: 100%;
		height: 100px;
		&__description{
			-webkit-box-flex: 1;
			-ms-flex: 1 1 330px;
			flex: 1 1 330px;
			div{
				padding: 1rem;
			}
			h2{
				font-family: 'Poppins';
	    		font-weight: 500;
	    		font-size: 22px;
			}
			h5{
				font-family: 'Poppins';
	    		font-weight: 500;
	    		font-size: 12px;
			}
		}
		&__owl_nav_cnt{
			-webkit-box-flex: 1;
			-ms-flex: 1 1 120px;
			flex: 1 1 120px;
			height: 100%;
			background-color: white;
			button{
				@include trans;
				display: block;
				outline: none;
				background-color: transparent;
				border: none;
				width: 100%;
				height: 50%;
				cursor: pointer;
				color: $gray-300;
				&:hover{
					color: $cus_black;
				}
				.iconslider{
					font-size: 1rem;
				}
			}
		}	
	}
}

.news{
	margin-bottom: 50px;
	&__header{
		height: 94px;
		margin-bottom: 69px;
		&:after{
			content: "";
			display: block;
			width: 150px;
			height: 0;
			border-bottom: 2px solid $cus_black;
			position: absolute;
			left: 50%;
			bottom: 0;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}
}
.news_info{
	padding-left: 0px;
}
/* all clients end*/

/* about page start*/
.about_main_heading{
	font-family: 'Poppins';
	font-weight: 500;
	letter-spacing: 2px;
}
.about_contact{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 780px;
	flex: 1 1 780px;
	max-height: 1080px;
	margin-bottom: 112px;
	&__btn_cnt{
		left: 0;
		height: 112px;
		width: 100%;
	}
	.contact_btn{
		@include trans;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 372px;
		flex: 0 1 372px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 900;
		color: white;
		background-image: -webkit-linear-gradient( -135deg, rgb(180,211,211) 0%, rgb(217,231,231) 100%);
		background-image: -ms-linear-gradient( -135deg, rgb(180,211,211) 0%, rgb(217,231,231) 100%);
		border: none;
		outline: none;
		cursor: pointer;
		&:active{
			color: $cus_black;
		}
	}
	.contact_lable{
		-webkit-box-flex: 0;
		-ms-flex: 0 1 100px;
		flex: 0 1 100px;
		background-color: white;
		.icon{
			width: 25px;
			height: 25px;
		}
	}
}
.modal-content{
	border-radius: 0;
}
.modal-header{
	button{
		outline: none;
		@include trans;
	}
}
.about_bg{
	margin-bottom: 160px;
}
.about__top{
	margin-top: 100px;
	max-width: 585px;
}
.about_page_search{
	.search_cnt .search_top{
		background-color: white;
	}
}
.carousel_cnt{
	.owl-nav{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		button{
			outline: none;
			@include trans;
			&:hover{
				color: $dark_pale_green;
			}
			.iconslider{
				font-size: 2rem;
			}
		}
	}

}
.owl-carousel .owl-nav button.owl-next{
	padding: 0.5rem 1rem !important;
}

/* about page end*/

/* news_stories start*/

.block--news_stories{
	padding-bottom: 119px;

}
.news_stories_slider_nav_cnt{
	height: 112px;
	left: 0;
	bottom: 0;
	z-index: 10;
	&__inner{
		width: 50%;
		button{
			background-color: transparent;
			outline: none;
			border: none;
			@include trans;
			cursor: pointer;
			&:hover{
				color: white;
			}
		}
	}
	&__inner_two{
		width: 50%;
		background-color: white;
		font-weight: 600;
	}
}
.news_stories{
	&__inner{
		margin-top: 100px;
	}
}

.news_stories_slider{
	max-width: 765px;
	.news_stories_slider_overlay{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, transparent),color-stop(73%, #b6d4d4),to(#b6d4d4));
		background: -webkit-linear-gradient(top, transparent 1%,#b6d4d4 73%,#b6d4d4 100%);
		background: -o-linear-gradient(top, transparent 1%,#b6d4d4 73%,#b6d4d4 100%);
		background: linear-gradient(to bottom, transparent 1%,#b6d4d4 73%,#b6d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}
.grid_item{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	&__heading{
		-webkit-box-flex: 1;
		-ms-flex: 1 1 50%;
		flex: 1 1 50%;
		font-size: 0.85rem;
		&--all_stories{
			a{
				color: $cus_black;
				&:hover{
					color: $pale_green;

				}
			}
		}
	}
	.news_stories_thumb_cnt{
		-webkit-box-flex: 0;
		-ms-flex: 0 1 200px;
		flex: 0 1 200px;
		background-color: $pale_green;
		a{
			display: block;
			position: relative;
			height: 0;
			padding-bottom: 70%;
			>img{
				position: absolute;
			}
		}
	}
}
.pagination_cnt{
	&__inner{
		padding-top: 30px;
		a{
			@include trans;
			font-size: 14px;
			color: $cus_gray;
			font-weight: 900;
			&:hover{
				color: $cus_black;
			}
		}
		
	}
}
.all_stories_l{
	&:hover .overlay{
		opacity: 1;
	}
}
.news_stories_date{
	display: none;
}
/* news_stories end*/

/* single post page start*/
.single{
	.search_top{
		background-color: white;
	}
}
.category{
	.search_cnt .search_top{
		background-color: white;
	}
}
.oembed_container{
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: $pale_green;
    margin: 1em 0;
    iframe{
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
}

.single_post_page, .single_page{
	margin: 150px 0 100px 0; 

}
.heading_title{
	display: inline-block;
	font-family: 'Poppins';
	font-weight: regular;

}
.heading_info{
	color: $cus_gray;

}
.heading_info_md{
	display: none;
}
.post_main_image{
	position: relative;
	height: 0;
	padding-bottom: 72.19251336898396%;
	background-color: $pale_green;
	&__image{
		position: absolute;
		top: 0;
		left: 0;
	}
}
.story_main_image{
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	background-color: $pale_green;
	&__image{
		position: absolute;
		top: 0;
		left: 0;
	}
}
.single_post_page_slider{
	margin-bottom: 50px;
	padding: 0 15px;
	&__dots{
		height: 50px;
		>button{
			padding: 10px;
			vertical-align: middle;
			background: none;
		    color: inherit;
		    border: none;
		    outline: none;
		    cursor: pointer;
			span{
				-webkit-transition: background-color 0.3s ease;
				-o-transition: background-color 0.3s ease;
				transition: background-color 0.3s ease;
				width: 6px;
			    height: 6px;
			    background-color: #b2b2b2;
			    display: block;
			    -webkit-backface-visibility: visible;
			    border-radius: 30px;
			    &:hover{
					background-color: $pale_green;
				}
			}
		}
		>.owl-dot.active{
			>span{
				width: 12px;
			    height: 12px;
			    background-color: $pale_green;
			}
		}
	}
}
.single_post_page_slider_thumb{
	width: 200px;
	height: 140px;
    a{
    	display: block;
    	width: inherit;
    	height: inherit;
    	background-color: $pale_green;
    }
}
.post_type{
	color: $dark_pale_green;
}
/* client single post start*/
.post_main_client_img_outer{
	margin-bottom: 1rem;
}
.post_main_client_img_outer{
	max-width: 490px;
}
.post_main_client_img{
	position: relative;
	height: 0;
	padding-bottom: 116.6666666666667%;
	background-color: $pale_green;
	&__client_image{
		position: absolute;
		top: 0;
		left: 0;
	}
}
.related_single_post_clients{
	padding: 0 15px;
}
/* client single post end*/
/* single post page end*/

/* search/category page start*/

.search.search-results, .search.search-no-results{
	.search_top{
		background-color: white;
	}
}
.page_title{
	font-weight: bold;
}
.seach_cat_main_heading{
	font-weight: bold;
}
.serch_cat_info{
	font-size: 14px;
	color: $cus_gray;
	white-space: nowrap;
}
.cat_serch_image_cnt{
	width: 200px;
	height: 140px;
	background-color: $pale_green;
	&__link_cnt{
		&:hover .overlay{
			opacity: 1;
		}
	}
}
.serch_cat_exc{
	margin-bottom: 0.5rem;
	line-height: 1.2;
	word-break: break-word;	
}
.serch_cat_heading{
	word-break: break-word;
}
/* search/category page end*/
.page-404{
	height: calc( 100vh - 230px);
	margin-top: 79px;
	h1{
		font-weight: bold;
	}
}


/* single page/post content styling start*/
.main_post p:after {
    content: "";
    clear: both;
    display: table;
}
.wp-caption {
    background-color: $cus_black;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
	.wp-caption-text{
		text-align: center;
		padding: 0;
		margin: 0;
	}
}
.wp-caption.alignnone, .wp-caption.aligncenter{
	max-width: 100%;
}
.wp-caption.alignleft {
    float: left;
    width: auto !important;
    margin-right: 10px;
	img{
		width: auto;
	}
}
.wp-caption.alignright {
    float: right;
    width: auto !important;
    margin-left: 10px;
	img{
		width: auto;
	}
}
p{
	.alignright{
		float: right;
		width: auto;
		margin: 0 0 10px 10px;
	}
	.alignleft{
		float: left;
		width: auto;
		margin: 0 10px 10px 0;
	}
}
blockquote{
	p{
		padding: 0;
	}
	font-style: italic;
	border-left: solid 2px $pale_green;
	margin-left: 1.5rem;
	margin-bottom: 1em;
	padding: 0 0 0 0.5em;

}
p .alignright .aligncenter,
div.aligncenter, p .aligncenter{
    display: block;
    margin: 1em auto 1em auto;
    width: auto;
}
/* single page/post content styling end*/
/* tabs anomation start*/
.fade-tab{
	opacity: 0;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}
.fade-tab.show{
	opacity: 1;
}
/* tabs anomation end*/
/* footer start*/
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	&__inner{
		padding: 0 15px;
		.search_top{
			background-color: white;
		}
	}
	.top{
		border-bottom: 2px solid $gray-200;
		.footer-logo{
			h1{
				font-family: 'Nunito';
				font-weight: 900;
				margin-bottom: 40px;
			}
		}
	}
	.bottom{
		&__footer-copy{
			font-size: 15px;
			margin: 47px 0;
		}
	}
}
/* footer end*/
