@import "functions";
@import "variables";
@mixin trans{
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.top_menu_links{
	padding-left: 30px;
}
.main_menu{
	width: 300px;
}
#close_menu{
	right: -45px;
	top: 10px;
	&:hover{
		color: $dark_pale_green;
	}
}
/* social vertical start*/
.slider_number{
	&:after{
		content:"";
		display: block;
		position: absolute;
		left: calc(100% + 72px);
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 55px;
		height: 2px;
		background: black;
	}
}
/* social vertical end*/
/* stories start*/
.story_info{
	padding-left: 22px;
}

/* stories end*/

/* clients page start*/
.all_news_page, .all_stories_page{
	.search_top{
		background-color: white;
	}
}
.news{
	margin-bottom: 100px;
}
.news_info{
	width: calc(100% - 200px);
	padding-left: 22px;
}
/* clients page end*/

/* about start*/
.about_bg{
	background: url('../images/about_bg.png') right top no-repeat;
}
.about__top{
	margin-top: 260px;
}
.about_page_search{
	.search_cnt .search_top{
		background-color: $pale_green;
	}
}
/* about end*/

/* news_stories start*/

.news_stories{
	&__inner{
		margin-top: 187px;
	}
}

/* news_stories end*/

/* single_post_page start*/
.single{
	.main_navigation{
		.search_top{
			background-color: $pale_green;
		}
	}
}
.heading_title{
	position: relative;
	&:after{
		content:"";
		position: absolute;
		right: 0;
		bottom: 0;
		height: 0;
		width: 50px;
		border-bottom: 4px solid $cus_black;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	}
}
.single_post_page_slider{
	margin-bottom: 100px;
}
.post_main_client_img_outer{
	margin-right: 1.5rem;
}
/* single_post_page end*/

/* search*/
.search.search-results, .search.search-no-results{
	.main_navigation{
		.search_top{
    		background-color: $pale_green;
    	}
    }
}
.single_post_seach_bg{
	background: url('../images/about_bg.png') right top no-repeat;
}