.site_wrap{
	padding-bottom: 206px;
}
.main_navigation{
	padding: 0;
}
.top_menu_links{
	padding-left: 20px;
}
.index_top_slider{
	.vertical_social{
		  &__list{
			a{
				margin-bottom: 20px;
			}
		}
	}
}
.story_thumb_cnt{
	img{
	    width: 200px;
	}
}
/* news_stories start*/
.grid_item{
	&__heading{
		font-size: 1.25rem;
	}
}

/* news_stories end*/
.page-404{
	height: calc(100vh - 206px);
	margin-top: 79px;
}