@import "functions";
@import "variables";
@mixin trans{
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.main_navigation{
	padding: 0 68px;
}
.top_menu_links{
	padding-left: 50px;
}
.search_cnt{
	.search_top{
		position: absolute;
	}
}
.index_top_slider{
	margin-top: 270px;
	.owl-carousel{
	&__item{
			padding-left: 322px;
		}
	}
}
/* slider item start*/
.slider__item_link{
	display: block;
	.slider_header{
		-webkit-transform: translate( -20%, -50%);
		-ms-transform: translate( -20%, -50%);
		transform: translate( -20%, -50%);
		position: absolute;
		top: 50%;
		h1{
			font-size: 100px;
		}
		h5{
			font-size: 17px;
			font-family: "Nunito";
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}
.view_profile_btn{
	@include trans;
	display: block;
	position: absolute;
	left: 322px;
	bottom: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	background-color: $pale_green;
	padding: 58px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	color: white;
	text-decoration: none;
	width: 258px;
	letter-spacing: 3px;
	&:hover{
		color: $cus_black;
		text-decoration: none;
	}
}
/* slider item end*/
/* tabs start*/
.tabs_inner{
	max-width: calc((420px * 4) + 30px);
}
/* tabs end*/
.slider_number{
	top: 54%;
	-webkit-transform: rotate(-90deg) translateX(-25%);
	-ms-transform: rotate(-90deg) translateX(-25%);
	transform: rotate(-90deg) translateX(-25%);
}
/* portrate slider start*/
.index_top_slider{
	.owl-dots{
		margin-right: 207px;
		.owl-dot{
		  margin-top: 36px; 
		}
	}
}
/* portrate slider end*/

/* social vertical start*/
.vertical_social{
	margin-left: 64px;
}
/* social vertical end*/

/* stories start*/
.stories{
	max-width: calc((420px * 4) + 30px);
	.row{
		margin-bottom: 50px;
	}
}
.story_header{
	h5{
		font-family: 'Poppins';
		font-size: 24px;
		font-weight: 500;
	}
}
.story_info{
	width: calc(100% - 200px);
	padding-left: 42px;
}
.story_date{
	font-size: 16px;
	font-family: 'Nunito';
	color: $cus_gray;
	position: absolute;
	bottom: 0;
	left: 40px;
	display: block;
}
.featured{
	&__link{
		margin: 20px;
	}
}
.portrait_slider_cnt{
	&__inner{
		margin-left: 20px;
	}
}
/* stories end*/

/* clients page start*/
.page-template-page-all-clients{
	.search_cnt .search_top{
		background-color: white;
	}
}
.index_top_slider--clients{
	.owl-carousel__item{
		padding-left: 150px;
		max-width: 100%;
	}
 	.slider{
 		&__header{
 			-webkit-box-flex: 1;
 			-ms-flex: 1 1 auto;
 			flex: 1 1 910px;
 			max-width: 910px;
 		}
 		&__item_link_clients{
 			-webkit-box-flex: 1;
 			-ms-flex: 1 0 650px;
 			flex: 1 0 650px; 
 		}
 	}
 	.slide_description_block{
 		-webkit-transform: translate(100%, 100%);
 		-ms-transform: translate(100%, 100%);
 		transform: translate(100%, 100%);
		width: 650px;
		&__description{
			h2{
				font-size: 42px;
			}
		}
		.description_text{
			position: relative;
			&::before{
				content:"";
				display: block;
				position: absolute;
				left: -5%;
				top: 0;
				background-image: -webkit-linear-gradient( 180deg, rgb(180,211,211) 0%, rgb(217,231,231) 100%);
				background-image: -ms-linear-gradient( 180deg, rgb(180,211,211) 0%, rgb(217,231,231) 100%);
				height: 2px;
				width: 90px;
				-webkit-transform: translateX(-100%);
				-ms-transform: translateX(-100%);
				transform: translateX(-100%);
			}
		}
	}
 }
.news_info{
	padding-left: 42px;
}
/* clients page end*/

/* about start*/
.about{
	max-width: calc((420px * 4) + 30px);
}
/* about end*/

/* news_stories start*/
.news_stories{
	padding-left: 110px;
}
.pagination_cnt{
	&__inner{
		padding-top: 90px;
	}
}
/* news_stories end*/

/* single_post_page start*/

.single_post_page, .single_page{
	margin: 270px 0 180px 0; 
	max-width: calc((420px * 4) + 30px);
	padding: 0 62px;
}

.single_post_page{
	padding-left: 200px;	
}

.heading_info{
	display: none;
}
.heading_info_md{
	left: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	padding-right: 20px;
	font-size: 16px;
}
/* single_post_page end*/

.footer{
	&__inner{
		padding: 0 68px;
	}
}