@import "functions";
@import "variables";
@mixin trans{
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.featured{
	&__link{
		margin: 64px;
		h2{
			font-size: 30px;
		}
	}
}
.story_link{
	font-size: 24px;
}
/* about start*/
.about_contact{
	&__btn_cnt{
		width: calc(100% - 290px);
	}
}
/* about end*/
/* news_stories star*/
.news_stories_date{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 1rem;
	font-size: 1rem;
	color: $cus_gray;
}
/* news_stories end*/

/* single_post_page start*/
.heading_title{
	font-size: 4.5rem;
	&:after{
		width: 100px;
	}
}
.single_post_page{
	padding-left: 400px;	
}
.single_post_page_slider{
	padding: 0;
}
.heading_info_md{
	padding-right: 70px;
}
/* single_post_page end*/