@import "functions";
@import "variables";
@mixin trans{
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
/* clients page start*/
.index_top_slider--clients{
	.owl-carousel__item{
		padding-left: 241px;
		margin-bottom: 268px;
	}
	.slider{
		&__header{
			h1{
				font-family: 'Poppins';
				font-weight: normal;
				font-size: 100px;
			}
		}
	}
}
.news{
	margin-bottom: 142px;
}
/* clients page end*/
/* about page start*/
.about_contact{
	-ms-flex-negative: 0;
	flex-shrink: 0; 
}
/* about page end*/

/* singele post page start*/
.single_post_page{
	padding-left: 640px;
	
}
.single_post_page_slider{
	margin-bottom: 142px;
}

/* singele post page end*/
